# Path: .env.example
# This file is an example of the environment variables needed for the bot to run.

TG_TOKEN = "tu_token_aqui"
RASA_REST_URL = "http://localhost:5005/webhooks/rest/webhook"
MODEL_PATH = "models/tu_modelo_aqui.tar.gz"
